/* CSS styles for Efelle page */
body {
	color: #586E75;
	font-family: 'sans-serif';
	font-size: 14px;
}

#blur {
	padding: 20px;
	background-image: url('../images/bannertest.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px); 
	-o-filter: blur(2px); 
	-ms-filter: blur(2px); 
	z-index: -1;
	position: relative;
}

header {
	padding-left: 20px;
	padding-top: 80px;
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

header h1 {
	font-size: 200%;
	margin-left: 10px;
	text-shadow: 1px 1px #0086F4;
}

header img {
	float: left;
	height: 150px;
	width: auto;
	border-radius: 5px;
	border: 1px solid #002141;
	margin: 10px;
}

header p {
	font-style: italic;
	margin-left: 10px;
	width: 40%;
}

header a {
	margin-left: 10px;
}

header p {
	padding-bottom: 20px;
}

section h2 {
	color: #B58900;
	font-size: 150%;
}

#lcontainer {
	float: left;
	width: 50%;
}

#rcontainer {
	margin-left: 50%;
}

.light {
	padding: 20px;
	background-color: #FDF6E3;
	height: 400px;
}

.dark {
	padding: 20px;
	background-color: #EEE8D5;
	height: 400px;
}

ul {
	list-style-type: circle;
	margin-left: 0px;
	padding-left: 0px;
}

footer {
	padding: 20px;
	width: 100%;
	height: 100px;
	background-color: #073642;
	box-shadow: inset 0 7px 9px -7px #4B5051;
}

a:link {
	color: #2AA198;
	text-decoration: none;
}

a:hover {
	color: #268BD2;
	text-decoration: none;
}

a:visited {
	color: #2AA198;
}

.btn {
  background-color: #268BD2;
  font-size: 14px;
  padding: 8px 20px 8px 20px;
  border: solid #586E75 1px;
  border-radius: 5px;
  text-decoration: none;
  float: left;
}

.btn:hover {
	background-color: #586E75;
	/*box-shadow: 2px 0px 0px 1px #002141;*/
}

.btn:active {
	background-color: #586E75;
	box-shadow: inset 0 4px 4px 0 black;
}
