/* CSS styles for Efelle page */
body {
	color: #586E75;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

body p {
	line-height: 120%;
}

#blur {
	padding: 20px;
	background-image: url('../images/bannertest.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px); 
	-o-filter: blur(2px); 
	-ms-filter: blur(2px); 
	z-index: -1;
	position: relative;
}

header {
	padding-left: 20px;
	padding-top: 20px;
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

header h1 {
	font-size: 200%;
	margin-left: 10px;
	text-shadow: 1px 1px #EEE8D5;
	color: #268BD2;
	font-weight: 600;
}

header img {
	float: left;
	height: 150px;
	width: auto;
	border-radius: 5px;
	border: 1px solid #002141;
	margin: 10px;
}

header p {
	margin-left: 10px;
	width: 40%;
	padding-bottom: 20px;
	line-height: 1;
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.5);
}

header a {
	margin-left: 10px;
}

section h2 {
	color: #2AA198;
	font-size: 150%;
	padding-bottom: 10px;
	font-weight: 600;
}

#lcontainer {
	float: left;
	width: 50%;
}

#rcontainer {
	margin-left: 50%;
}

.light {
	padding: 20px;
	background-color: #FDF6E3;
	height: 400px;
}

.dark {
	padding: 20px;
	background-color: #EEE8D5;
	height: 400px;
}

ul {
	list-style-type: circle;
	margin-left: 0px;
	padding-left: 0px;
	list-style-position: inside;
}

footer {
	padding: 20px;
	width: 100%;
	height: 100px;
	background-color: #EEE8D5;
	box-shadow: inset 0 7px 9px -7px #4B5051;
}

footer p {
	width: 60%;
}


a:link {
	color: #B58900;
	text-decoration: none;
	font-weight: 400;
}

a:hover {
	color: #268BD2;
}

a:visited {
	color: #BF8900;
}


.btn {
  background-color: #586E75;
  font-size: 14px;
  padding: 8px 20px 8px 20px;
  border: solid #586E75 1px;
  border-radius: 5px;
  text-decoration: none;
  float: left;
}

.btn:hover {
	background-color: #268BD2;
}

.btn:active {
	background-color: #268BD2;
	box-shadow: inset 0 4px 4px 0 black;
}
